In [171]:
# This is for Tableau project
# It begins with the DE_Properties.csv file found in the datasets folder
# Use Module 2 as an example to use this csv file but clean it up first
# Then export the "finished" file as a new csv file and use the new file in Tableau

In [172]:
# Import required lbraries
import pandas as pd
import numpy as np

In [173]:
# Load the DC_Properties.csv file as the starting point
location = "datasets/DC_Properties.csv"

In [174]:
# Read the csv file and save it as a dataframe
df = pd.read_csv(location)

C:\Users\pegblaine\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (18,19,20,21,22,23,24,33,34,35,37,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [175]:
# Look at the beginning of the file
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,152,-77.040429,38.914881,NW

In [176]:
# Count the number of rows in the file for each column with data
df.count()

Unnamed: 0            158957
BATHRM                158957
HF_BATHRM             158957
HEAT                  158957
AC                    158957
NUM_UNITS             106696
ROOMS                 158957
BEDRM                 158957
AYB                   158686
YR_RMDL                80928
EYB                   158957
STORIES               106652
SALEDATE              132187
PRICE                  98216
QUALIFIED             158957
SALE_NUM              158957
GBA                   106696
BLDG_NUM              158957
STYLE                 106696
STRUCT                106696
GRADE                 106696
CNDTN                 106696
EXTWALL               106696
ROOF                  106696
INTWALL               106696
KITCHENS              106695
FIREPLACES            158957
USECODE               158957
LANDAREA              158957
GIS_LAST_MOD_DTTM     158957
SOURCE                158957
CMPLX_NUM              52261
LIVING_GBA             52261
FULLADDRESS           106040
CITY                  106051
STATE                 106051
ZIPCODE               158956
NATIONALGRID          106051
LATITUDE              158956
LONGITUDE             158956
ASSESSMENT_NBHD       158956
ASSESSMENT_SUBNBHD    126406
CENSUS_TRACT          158956
CENSUS_BLOCK          106051
WARD                  158956
SQUARE                158957
X                     158720
Y                     158720
QUADRANT              158720
dtype: int64

In [177]:
# Look at the end of the file
df.tail()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
158952,158952,1,0,Forced Air,Y,NaN,3,1,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158953,158953,1,0,Forced Air,Y,NaN,4,2,1938.0,2006.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158954,158954,2,0,Forced Air,Y,NaN,4,2,1920.0,2007.0,...,-77.01942,Old City 2,040 B Old City 2,4801.0,NaN,Ward 6,477,-77.019422,38.911848,NW
158955,158955,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW
158956,158956,1,0,Warm Cool,Y,NaN,2,0,1965.0,NaN,...,-77.01823,Southwest Waterfront,NaN,11000.0,NaN,Ward 6,504,-77.018232,38.872961,SW

In [178]:
# Print out the colum headers
print(df.columns.values)
len(df.columns)

['Unnamed: 0' 'BATHRM' 'HF_BATHRM' 'HEAT' 'AC' 'NUM_UNITS' 'ROOMS' 'BEDRM'
 'AYB' 'YR_RMDL' 'EYB' 'STORIES' 'SALEDATE' 'PRICE' 'QUALIFIED' 'SALE_NUM'
 'GBA' 'BLDG_NUM' 'STYLE' 'STRUCT' 'GRADE' 'CNDTN' 'EXTWALL' 'ROOF'
 'INTWALL' 'KITCHENS' 'FIREPLACES' 'USECODE' 'LANDAREA'
 'GIS_LAST_MOD_DTTM' 'SOURCE' 'CMPLX_NUM' 'LIVING_GBA' 'FULLADDRESS'
 'CITY' 'STATE' 'ZIPCODE' 'NATIONALGRID' 'LATITUDE' 'LONGITUDE'
 'ASSESSMENT_NBHD' 'ASSESSMENT_SUBNBHD' 'CENSUS_TRACT' 'CENSUS_BLOCK'
 'WARD' 'SQUARE' 'X' 'Y' 'QUADRANT']

49

In [179]:
copy_df = df.copy()
for i in range(0, (len(df.columns)-1)):
    col = copy_df.columns[i]
    if col == 'BEDRM':
        print(col)
    elif col == 'ZIPCODE':
        print(col)
    else:
        copy_df = copy_df.drop(col, axis=1)

ZIPCODE

IndexError: index 25 is out of bounds for axis 0 with size 25

In [180]:
# Why is length still 49?
len(copy_df.columns)

25

In [181]:
# Print the data types of each column
df.dtypes

Unnamed: 0              int64
BATHRM                  int64
HF_BATHRM               int64
HEAT                   object
AC                     object
NUM_UNITS             float64
ROOMS                   int64
BEDRM                   int64
AYB                   float64
YR_RMDL               float64
EYB                     int64
STORIES               float64
SALEDATE               object
PRICE                 float64
QUALIFIED              object
SALE_NUM                int64
GBA                   float64
BLDG_NUM                int64
STYLE                  object
STRUCT                 object
GRADE                  object
CNDTN                  object
EXTWALL                object
ROOF                   object
INTWALL                object
KITCHENS              float64
FIREPLACES              int64
USECODE                 int64
LANDAREA                int64
GIS_LAST_MOD_DTTM      object
SOURCE                 object
CMPLX_NUM             float64
LIVING_GBA            float64
FULLADDRESS            object
CITY                   object
STATE                  object
ZIPCODE               float64
NATIONALGRID           object
LATITUDE              float64
LONGITUDE             float64
ASSESSMENT_NBHD        object
ASSESSMENT_SUBNBHD     object
CENSUS_TRACT          float64
CENSUS_BLOCK           object
WARD                   object
SQUARE                 object
X                     float64
Y                     float64
QUADRANT               object
dtype: object

In [ ]:
# Look for duplicate rows
dupe = df.duplicated()
# Show where duplicated is True
df[dupe]

In [ ]:
# We can cocentrate on the number of bedrooms per house per zipcode since all ar in DC
df['ZIPCODE'].unique()

In [ ]:
df['BEDRM'].unique()

In [ ]:
# We need to remove any bedrooms with NAN values
missing_br = df['BEDRM'].isnull()
index_br = df.loc[missing_br]
index_br

In [ ]:
# We need to remove any zipcodes with NAN values
missing_zipcode = df['ZIPCODE'].isnull()
index_zc = df.loc[missing_zipcode]
index_zc

In [ ]:
df['ZIPCODE'].value_counts().sum()

In [ ]:
# Copy df into a new df so you can drop rows from new df
df_after_drop = df

In [ ]:
# Drop the rows where ZIPCODE has no data
df_after_drop = df.dropna(subset=['ZIPCODE'])

# Check there are no more rows with ZIPCODE is null
df_after_drop[df_after_drop['ZIPCODE'].isnull()]

In [ ]:
# List all valid unique ZIPCODES - no moore null/nan values
df_after_drop['ZIPCODE'].unique()

In [ ]:
# Change zipcode to int value
df_int_zipcode  = df_after_drop.copy()
df_int_zipcode['ZIPCODE'] = df_after_drop['ZIPCODE'].apply(lambda x: int(x))
df_int_zipcode['ZIPCODE'].unique()

In [ ]:
# Total number of bedrooms per zipcode
df_int_zipcode['BEDRM'].groupby(df_int_zipcode['ZIPCODE']).sum()

In [ ]:
# We should sort ascending (default) by total # of bedrooms per zipcode
# Though this can be done in Tableau later
df_sorted = df_int_zipcode.copy()
df_sorted = df_int_zipcode.sort_values('ZIPCODE')
df_sorted['ZIPCODE'].unique()

In [ ]:
# Write cleaned data to CSV file
df_sorted.to_csv("datasets/DC_Properties_Cleaned.csv")